.background {
  display: flex;
  height: 65vh;
  margin-top: 5%;
}
.iphone-image {
  height: 90%;
  width: 100%;
}
.iphone-cover-image {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.footer-banner-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 0;
}
.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.download-btn {
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ca2128;
  background: #fff;
  padding: 14px 0px;
  width: 100%;
  display: none;
}

.playstore-btns {
  width: 85%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-evenly; */
  float: left;
}

@media only screen and (max-width: 877px) {
  .footer-banner-container{
    width: 90%;
    flex-direction: column;
  }
  .banner-content{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .iphone-cover-image {
    margin: 10% auto !important;
    width: 50% !important;
    margin-bottom:0 !important;
  }
}
@media only screen and (max-width: 1024px){
  .footer-banner-container{
    width: 90%;
    margin: 0 auto;
  }
  .playstore-btns{
    margin: unset;
  }
  .iphone-cover-image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .iphone-image{
    width: 100%;
    height: 90%;
    object-fit: unset;
  }
}
@media only screen and (max-width: 1024px) {
  .background{
    height: unset;
  }
}
@media only screen and (max-width: 768px) {
  .iphone-cover-image {
    display: none;
  }
  /* .banner-content {
    width: 85%;
  } */
  .background {
    height: unset !important;
    padding: 24px 0;
  }
  .banner-title {
    font-size: 28px !important;
  }
  .playstore-btns {
    display: none !important;
  }
  .download-btn {
    display: block;
  }
  .footer-banner-container {
    width: 85%;
  }
  .banner-content {
    width: 100%;
  }
}
